@-ms-viewport {
	width: device-width;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	font: 100%/1.5em Helvetica, Arial, sans-serif; /* 24 / 16 = 1.5em */
	position: relative;
	padding-bottom: 20em;
	min-height: 100%;
	background-color: #020202;
	
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
body {
	font-size: 1em; /* 14 / 16 = 0.875em */
	line-height: 1.5em;
	color: #fff;
}
a:link, a:visited, a:hover, a:active {
	color: #fff;
	text-decoration: none;
	
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #020202;
	
	
}

header {
	padding-top: 10px;
	
}

/* logo */
h1.logo a {
	width: 308px;
	height: 121px;
	display: block;
	background: url('../images/logo/logo.png') no-repeat 0 0;
	margin: 0 auto;
	
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}
/* Navigation */
nav[role="primary"] ul {
	list-style-type: none;
	background: #d32f2f;
	width: 100%;
	height: auto;
	margin: 15px auto;
	text-align: center;

}
nav[role="primary"] ul li {
	display: inline;

}
nav[role="primary"] ul li a {
	display: inline;
	height: 50px;
	line-height: 50px;
	padding: 13px;
	font-size: 1.28571428571429em; /* 18px / 14px */
	font-weight: bold;
}
nav[role="primary"] ul li a:hover {
	background: #b71c1c;
}

.current-page-item {
	background: #b71c1c;
}

.slide-show-container {
	width: 58.547008547009%;/* 685 / 1170 = 58.547008547009% */
	height: auto;
	/*background-color: #d32f2f;*/
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	/*border: 2px solid #b71c1c;*/
	max-width: 600px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.latest-container {
	width: 62.649572649573%; /* 733 / 1170 = 62.649572649573% */
	height: 293px;
	margin: 30px auto;
}
.latest-track-container {
	width: 69.167803547067%; /* 507 / 733 = 69.167803547067% */
	height: 190px;
	float: left;
}
.latest-video-container {
	width: 20%; /* 186 / 733 = 25.37517053206% */
	height: auto;
	/*background: #b71c1c url("../images/Electro-House-Sessions.jpg") no-repeat right bottom;*/
	float: right;
	min-width: 186px;
}
.social-media-container {
	width: 230px; /* 230 / 733 = 31.37789904502% */
	height: 73px;
	clear: both;
	float: right;
	margin: 30px 30px 0 0;
}
.title-h3 {
	text-transform: capitalize;
	font-size: 1.125em; /* 18px / 16px = 1.125em */
	font-weight: bold;
	margin-bottom: 5px;
}
.fa.fa-facebook {
	font-size: 1.71428571428571em; /* 24px / 14px */
	line-height: 50px;
	background: #3b5998;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	
	
}
.fa.fa-instagram {
	font-size: 1.71428571428571em; /* 24px / 14px */
	line-height: 50px;
	background: #517fa4;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	margin-left: 5px;
	
}
.fa.fa-youtube-play {
	font-size: 1.71428571428571em; /* 24px / 14px */
	line-height: 50px;
	background: #bb0000;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	margin-left: 5px;
	
}
.fa.fa-soundcloud {
	font-size: 1.71428571428571em; /* 24px / 14px */
	line-height: 50px;
	background: #ff3a00;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	margin-left: 5px;
	
}

footer {
	clear: both;
	width: 100%;
	height: 70px;
	margin: 0 auto;
	background-color: #d32f2f;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 70px;
}

#footer-link {
	text-transform: none;
}

#copyright {
	text-transform: capitalize;
}

@media only screen and (max-width: 1135px) {
	.latest-track-container {
		width: 100%; /* 507 / 733 = 69.167803547067% */
		height: 190px;
		float: none;
		
	}
	.latest-video-container {
		width: 186px; /* 186 / 733 = 25.37517053206% */
		height: auto;
		/*background: #b71c1c url("../images/Electro-House-Sessions.jpg") no-repeat right bottom;*/
		float: left;
		margin: 10px auto 0 auto;
		
	}
	.social-media-container {
		width: 230px; /* 230 / 733 = 31.37789904502% */
		height: 73px;
		clear: none;
		float: right;
		margin-top: 10px;
		display: inline-block;
	}
	
	
}

@media only screen and (max-width: 856px) {
	.latest-container {
		width: 90%; /* 733 / 1170 = 62.649572649573% */
		height: 293px;
		margin: 30px auto;
	}
}

@media only screen and (max-width: 685px) {
	.slide-show-container {
		width: 100%;/* 685 / 1170 = 58.547008547009% */
		height: auto;
		/*background-color: #d32f2f;*/
		margin-top: 0;
		margin-right: auto;
		margin-bottom: 30px;
		margin-left: auto;
		/*border: 2px solid #b71c1c;*/
		max-width: 960px;
	}
}

@media only screen and (max-width: 558px) {
	.latest-video-container {
		width: 186px; /* 186 / 733 = 25.37517053206% */
		height: auto;
		/*background: #b71c1c url("../images/Electro-House-Sessions.jpg") no-repeat right bottom;*/
		float: none;
		margin: 10px auto 0 auto;
		
	}
	.social-media-container {
		width: 230px; /* 230 / 733 = 31.37789904502% */
		height: 73px;
		clear: none;
		float: none;
		margin: 10px auto 0 auto;
		display: block;
	}
}

/* Photos Page */

.photos-heading {
	text-transform: capitalize;
	text-align: center;
	font-size: 2em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.photos-container {
	width: 62.649572649573%;
	margin: 0 auto;
	/* Prevent vertical gaps */
	line-height: 0;

	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
	-moz-column-count: 3;
	-moz-column-gap: 0px;
	column-count: 3;
	column-gap: 0px;

}

.photos-container img {
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
}

@media only screen and (min-width: 1280px) {
	.photos-container {
		-webkit-column-count: 4;
		-webkit-column-gap: 0px;
		-moz-coloumn-count: 4;
		-moz-column-gap: 0px;
		column-count: 4;
		column-gap: 0px;
	}
}

@media only screen and (max-width: 990px) {
	.photos-container {
		-webkit-column-count: 2;
		-webkit-column-gap: 0px;
		-moz-coloumn-count: 2;
		-moz-column-gap: 0px;
		column-count: 2;
		column-gap: 0px;
	}
}

@media only screen and (max-width: 838px) {
	.photos-container {
		width: 90%;
	}
}

/*@media only screen and (max-width: 400px) {
	.photos-container {
		width: 70%;

		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		-moz-coloumn-count: 1;
		-moz-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
	}
}*/

/* Videos Page */
.videos-container {
	width: 70%;
	margin: 0 auto;
}

.fancybox {
	display: block;
	width: 23%;
	float: left;
	margin: 1%;
}



@media only screen and (max-width: 1300px) {
	.fancybox {
		display: block;
		width: 31.33333333333333%;
		float: left;
		margin: 1%;
	}
}

@media only screen and (max-width: 1000px) {
	.fancybox {
		display: block;
		width: 48%;
		float: left;
		margin: 1%;
	}
}

@media only screen and (max-width: 481px) {
	.fancybox {
		display: block;
		width: 98%;
		float: left;
		margin: 1%;
	}

}

/* Music Page */
.music-container {
	width: 80%;
	margin: 0 auto;
	
}

.page-heading {
	text-transform: capitalize;
	text-align: center;
	font-size: 2em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.track-music-container {
	width: 48%;
	margin: 1%;
	float: left;

}

/*.track-music-container:nth-child(3) {
	float: none;
	clear: left;
	margin: 1% auto;
}*/

@media only screen and (max-width: 1441px) {
	.music-container {
		width: 80%;
		margin: 0 auto;
	}

	.track-music-container {
		width: 98%;
		margin: 1%;
		float: left;

	}

}

@media only screen and (max-width: 1199px) {
	.music-container {
		width: 95%;
		margin: 0 auto;
	}

	.track-music-container {
		width: 98%;
		margin: 1%;
		float: left;

	}
}

/* Contact Page */
.contact-heading {
	text-transform: capitalize;
	text-align: center;
	font-size: 2em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.contact-container {
	width: 80%;
	margin: 0 auto;
	
	
}

#contact-form {
	width: 48%;
	margin: 0 1%;
	float: left;
	
	
}

input[type] {
	width: 100%;
	display: block;
	height: 3em;
	padding-left: 0.8em;
	margin: 1em 0;
	background-color: #353535;
	border: none;
	color: #fff;
}
textarea {
	width: 100%;
	height: 150px;
	padding-left: 0.8em;
	background-color: #353535;
	border: none;
}

#contact-details {
	width: 48%;
	margin: 1em 1%;
	float: left;
	height: auto;
	padding: 10px;
	background-color: grey;
	text-align: center;
	
}
input[placeholder] {
	font-size: 14px;
	color: #fff;
}
textarea[placeholder] {
	font-size: 14px;
	color: #fff;
}
@media only screen and (max-width: 1211px) {
	.contact-container {
		width: 80%;
		margin: 0 auto;
		
		
	}

	#contact-form {
		width: 98%;
		margin: 0 1%;
		float: none;
		
		
	}
	#contact-details {
		width: 98%;
		margin: 1em 1%;
		float: none;
		height: auto;
		padding: 10px;
		background-color: grey;
		text-align: center;
		
	}
}

/* About Page */
.about-container {
	width: 62.649572649573%;
	margin: 0 auto;
}

#about-text {
	width: 48%;
	margin: 0 1%;
	float: left;
	
	
}

#about-pic {
	width: 48%;
	margin: 0 1%;
	float: left;
}










/* Begin Old Contact Styles */

/*
.contact-container {
	width: 90%;
	margin: 0 auto;
}

form#contact-form {
	background-color: tomato;
	width: 48%;
	float: left;
	margin: 0 1%;
	padding: 1em;

}

form#contact-form fieldset {
	border: none;
	margin-bottom: 1em;
}

form#contact-form fieldset:last-of-type {
	margin-bottom: 0;
}

form#contact-form legend {
	font-weight: bold;
	padding-bottom: 1em;
}

form#contact-form label {
	float: left;
	width: 110px; /* 110 / 733
}

form#contact-form ol li {
	list-style-type: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}

form#contact-form button {
	background-color: #d32f2f;
	border: none;
	color: #fff;
	display: block;
	font-size: 1.125em;
	letter-spacing: 1px;
	padding: 7px 25px;
}

form#contact-form div {
	padding: 5px 0;
}

#contact-details {
	background-color: grey;
	width: 48%;
	float: left;
	margin: 0 1%;
	padding: 1em;
}

textarea#message {
	width: 70%;
	height: 15em;
}

@media only screen and (max-width: 1336px) {
	.contact-container {
		width: 62.649572649573%;
		margin: 0 auto;
	}

	form#contact-form {
		background-color: tomato;
		width: 98%;
		float: none;
		margin: 0 1%;
		padding: 20px;

	}
	
	#contact-details {
		background-color: grey;
		width: 98%;
		float: left;
		margin: 0 1%;
		padding: 20px;
	}

}
@media only screen and (max-width: 662) {
	.contact-container {
		width: 62.649572649573%;
		margin: 0 auto;
	}

	form#contact-form {
		background-color: tomato;
		width: 98%;
		float: none;
		margin: 0 1%;
		padding: 20px;

	}
	
	#contact-details {
		background-color: grey;
		width: 98%;
		float: left;
		margin: 0 1%;
		padding: 20px;
	}
	
}
@media only screen and (max-width: 709px) {
	form#contact-form button {
		margin-left: 10px;
	}
}
*/

/* End Old Contact Styles */


/* Begin Old Music Media Queries Styles */

/*
@media only screen and (max-width: 1740px) {
	.music-container {
		width: 80%;
		margin: 0 auto;
	}

	.track-music-container {
		width: 48%;
		margin: 1%;
		float: left;
	}
}

@media only screen and (max-width: 1140px) {
	.music-container {
		width: 60%;
		margin: 0 auto;
	}

	.track-music-container {
		width: 98%;
		margin: 1%;
		float: left;
	}
}

@media only screen and (max-width: 753px) {
	.music-container {
		width: 90%;
		margin: 0 auto;
	}

	.track-music-container {
		width: 98%;
		margin: 1%;
		float: left;

	}
}

@media only screen and (max-width: 400px) {
	.music-container {
		width: 100%;
		margin: 0 auto;
	}

	.track-music-container {
		width: 98%;
		margin: 1%;
		float: left;

	}
}
*/

/* End Old Music Media Queries Styles */















